<br><br><br><br><br><h1 align="center">Добавление данных</h1><br>
<div align="center">
<h4>Вы находитесь в модуле добавления данных.
<br><br>Пожалуйста, выберите пункт из меню ниже:
</h4><br><br>

<a class="btn btn-success" href="main/add_patient" role="button">Добавление пациентов</a>
<label>    </label>
<a class="btn btn-success" href="main/add_visitor" role="button">Добавление посетителей</a>
<label>    </label>
<a class="btn btn-success" href="main/add_doctor" role="button">Добавление врачей</a>