<br><br><br><br><br><h1 align="center">Поздравляю,<%= @login %> !</h1><br>
<div align="center">
<h4>Вы успешно вошли в систему психоневрологического диспансера как администратор.
<br><br>Вам открыт полный доступ к просмотру и редактированию данных врачей, пациентов,<br><br>
посетителей, а также к работе с учетными записями пользователей.
</h4><br><br>
<%$login_final = @login%>
<%$role_final = "admin"%>