<br><br><br><br><br><h1 align="center">Удаление данных</h1><br>
<div align="center">
<h4>Вы находитесь в подмодуле удаления данных.
<br><br>Пожалуйста, выберите пункт из меню ниже:
</h4><br><br>

<a class="btn btn-danger" href="/delete/main/delete_patient" role="button">Удаление пациентов</a>
<label>    </label>
<a class="btn btn-danger" href="/delete/main/delete_visitor" role="button">Удаление посетителей</a>
<label>    </label>
<a class="btn btn-danger" href="/delete/main/delete_doctor" role="button">Удаление врачей</a>