<br><br><br><br><br><h1 align="center">Поздравляю,<%= @login %> !</h1><br>
<div align="center">
<h4>Вы успешно вошли в систему психоневрологического диспансера как доктор.
<br><br>Вам открыт полный доступ к просмотру и редактированию данных о врачах, пациентах и пользователях.
<br><br>Для расширения полномочий аккаунта обратитесь к администратору.
</h4><br><br>
<%$login_final = @login%>
<%$role_final = "doctor"%>