<br><br><br><br><br><h1 align="center">Добро пожаловать!</h1><br>

<div align="center">
<label>Для дальнейшей работы с данными пациентов, врачей и посетителей,<br>а так же для работы с учетными записями пользователей, пожалуйста:</label><br><br><br>
<a class="btn btn-success" href="/registrations/signup" role="button">Зарегистрируйтесь</a>
<br><br><label>или</label><br><br>
<a class="btn btn-primary" href="/authorization/login" role="button">Авторизируйтесь</a>
</div>