<br><br><br><br><br><h1 align="center">Редактирование данных</h1><br>
<div align="center">
<h4>Вы находитесь в модуле редактирования данных.
<br><br>Пожалуйста, выберите пункт из меню ниже:
</h4><br><br>

<a class="btn btn-primary" href="/rewrite/main/rewrite_patient" role="button">Редактирование пациентов</a>
<label>    </label>
<a class="btn btn-primary" href="/rewrite/main/rewrite_visitor" role="button">Редактирование посетителей</a>
<label>    </label>
<a class="btn btn-primary" href="/rewrite/main/rewrite_doctor" role="button">Редактирование врачей</a>