<br><h1 align="center">Редактирование записи</h1><br>
<div align="center">
<h4>Вы находитесь в модуле редактирования записи.
<br><br>Пожалуйста, введите новые данные в необходимые поля:
</h4><br>
</div>
<br>

<form action="/rewrite_user/main/go" method="POST" align="center" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-4 control-label"></label>
    <div class="col-sm-4">
      <input name="login" type="text" class="form-control"  placeholder="Логин" value="<%= $user.login %>">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-4 control-label"></label>
    <div class="col-sm-4">
      <input name="password" type="text" class="form-control"  placeholder="Пароль" value="<%= $user.password %>">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-4 control-label"></label>
    <div class="col-sm-4">
      <input name="role" type="text" class="form-control"  placeholder="Роль" value="<%= $user.role %>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <br><button type="submit" class="btn btn-success">Редактировать запись</button>
    </div>
  </div>
</form><br><br>