
<br><br>
<br><br>
<br><h1 align="center">Поздравляю,<%= $login_final %> !</h1>

<div align="center"><br>
<h4>Вы успешно вошли в систему психоневрологического диспансера как пользователь.
<br><br>Вам открыт полный доступ к просмотру данных о врачах и работе с ними.
<br><br>Для расширения полномочий аккаунта обратитесь к администратору.
</h4><br><br>
<div align="center" class="form-group">
    <label class="col-sm-4 control-label"></label>
    <div class="col-sm-4">
      <div class="alert alert-danger">Доступ запрещен!</div>
    </div>
  </div>
