<br><br><br><br><br><h1 align="center">Поздравляю,<%= @login %> !</h1><br>
<div align="center">
<h4>Вы успешно вошли в систему психоневрологического диспансера как пользователь.
<br><br>Вам открыт полный доступ к просмотру данных о врачах и работе с ними.
<br><br>Для расширения полномочий аккаунта обратитесь к администратору.
</h4><br><br>
<%$login_final = @login%>
<%$role_final = "user"%>