<br><br>
<h4>Результаты отсортированы по категории "Дата визита":</h4>

<br><br><table class="table table-striped">

   <thead>
  		<tr>
		  	<th>ФИО</th>
		  	<th>Дата визита</th>
		  	<th>ФИО пациента</th>
		</tr>
   </thead>

	<tbody>
		<% @visitors_sort_by_date.each do |v| %>
		  <tr>
		  	<td><%= v.name %></td>
		  	<td><%= v.visit_datetime %></td>
		  	<td><%= v.patient_name %></td>
		  </tr>
		<% end %>
	</tbody>
</table>